apiVersion: v1
kind: Service
metadata:
  name: voting-app-vote
  labels:
    app: vote
spec:
  type: LoadBalancer
  selector:
    app: vote
  ports:
  - name: http
    port: 8080
    targetPort: 80
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: voting-app-result
  labels:
    app: result
spec:
  type: LoadBalancer
  selector:
    app: result
  ports:
  - name: http
    port: 8081
    targetPort: 4000
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: redis
  labels:
    app: redis
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
  - name: redis
    port: 6379
    targetPort: 6379
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: db
  labels:
    app: postgres
spec:
  type: ClusterIP
  selector:
    app: postgres
  ports:
  - name: postgres
    port: 5432
    targetPort: 5432
    protocol: TCP
